/* CSS Document for Screens */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #333333;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.1);
}

#page{
    margin: 0 auto;
    position: relative;
}

/*Text*/
h1{
    margin: 0 0 1em 0;
    font-size: 2.2em;
    font-weight: 500;
    color: black;
}

h2{
    margin: 0 0 0.5em 0;
    font-size: 1.6em;
    font-weight: 500;
    line-height: 1.1em;
    color: black;
}

h3{
    margin: 0 0 1em 0;
    font-size: 1.4em;
    font-weight: 600;
    color: black;
}



p{
    margin: 0 0 1em 0;
}

a{
    color: #007eff;
}

a:visited{
    color: #65b1ff;
}

a.btn {
    font-size: 1.2em;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 4px 15px;
    transition: background-color 0.5s;
}

a.btn:hover{
    background-color: rgba(0,0,0,0.3);
}

/* Navigation */
nav {
    background-color: rgba(255,255,255,0.7);
    position: relative;
    padding: 0;
    width: 100%;
    height: 100px;
    margin-top: 0px;
}

nav a.logo{
    z-index: 1;
    position: absolute;
    display: block;
    width: 160px;
    height: 66px;
    background: url(../images/logo_remeda.png) no-repeat 0 0;
    background-size: contain;
    top: 20px;
    left: 20px;
}

nav::after {
    content:"";
    display: block;
    clear: both;
}

nav ul{
    list-style-type: none;
    margin: 15px;
    padding: 30px;
}

nav ul li:hover{
    background-color:rgba(0,0,0,0.1);
}

nav ul li:hover > ul{
    display: block;
}

nav ul li a{
    display: inline-block;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    width: 125px;
    position: relative;
    font-size: 1.2em;
}

nav ul li a:visited{
    color: #fff;
}

nav ul li a:hover{
    background-color: rgba(107,205,161,0.8);
    color: white;

}

/* top-level */
nav > ul {
    padding-left: 200px;
}

nav > ul > li {
    float: left;
}

nav > ul > li > a {
    width: auto;
    padding: 10px 20px 15px 20px;
}

/*Header*/

header{
    height: 500px;
    margin-top: 0px;
    background-color: rgb(107,205,161);
    position: relative;
    background: url(../images/31332416-a-picture-of-an-old-couple-strollingin-the-park2.jpg) no-repeat 0 0;
    width: 100%;
}


header div.hero {
    position: absolute;
    width: 40%;
    top: 100px;
    left: 54%;
    color: white;
}


header div.hero h1 {
    line-height: 1em;
    margin: 0 0 30px 0;
    color: #fff;
}

header div.hero p {
    line-height: 1em;
    margin: 0 0 30px 0;
    color: #fff;
    font-size: 1.3em;
    line-height: 1.4em;
}

/* Section - All */
section{
    padding: 0 70px;
}

section::after {
    content:"";
    display: block;
    clear: both;
}


/* Section - Main */
section.main{
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0;
}

section.main aside{
    width: 50%;
    float: left;
    text-align: center;
}

section.main .content{
    margin: 10%;
    background: no-repeat center top;
    background-size: 75px 75px;
    padding-top: 85px;
}

section.main aside h3 a {
    color: #333;
    text-decoration: none;
}

section.main aside h3 a:hover {
    color: #333;
}

section.main aside .content.produkte{
    background-image: url(../images/cube.svg);
    border: 0px solid #333;

}

section.main aside .content.remeda{
    background-image: url(../images/focus.svg);
    border: 0px solid #333;
}


/* Produkte */
section.produkte{
    background-color: rgb(107,205,161);
    padding: 100px 80px;
}


/* Kontakt */
section.kontakt{
    height: 700px;
    padding: 100px 80px;
}

/* Footer */
footer{
    font-size: 0.8em;
    padding: 30px;
    color: #999;
    background-color: rgb(107,205,161);
    height: 80px;
    position: absolute;
    width: 100%;
}

footer .content{
    display: inline;
}

footer a {
    margin-left: 30px;
    color: #777;
}

footer a:visited {
    margin-left: 30px;
    color: #777;
}

footer a:hover {
    margin-left: 30px;
    color: #000;
}









*,
*:before,
*:after {
    box-sizing: border-box;
}



.accordion {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 2rem;
}

.accordion-item {
    position: relative;
}
.accordion-item.active .heading {
    color: #666666;
}
.accordion-item.active .icon {
    background: #fefefe;
}
.accordion-item.active .icon:before {
    background: #666666;
}
.accordion-item.active .icon:after {
    width: 0;
}
.accordion-item .heading {
    display: block;
    text-decoration: none;
    color: #333333;

    font-size: 1.2rem;
    position: relative;
    padding: 1.5rem 1.5rem 1.5rem 4rem;
    transition: 0.3s ease-in-out;
}
.accordion-item .text {
    color: #333333;
    font-size: 1rem;
    font-weight: 200;
}

.accordion-item .title{
    font-weight: 700;
}


.accordion-item .heading:hover {
    color: #666666;
}
.accordion-item .heading:hover .icon:before, .accordion-item .heading:hover .icon:after {
    background: #666666;
}
.accordion-item .icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 3rem;
    height: 3rem;
    border: 2px solid #fefefe;
    border-radius: 3px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


.accordion-item .icon:before, .accordion-item .icon:after {
    content: '';
    width: 1.25rem;
    height: 0.25rem;
    background: #333333;
    position: absolute;
    border-radius: 3px;
    left: 50%;
    top: 50%;
    transition: 0.3s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.accordion-item .icon:after {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
    z-index: -1;
}
.accordion-item .content {
    display: none;
}
.accordion-item .content p {
    margin-top: 0;
}
@media (min-width: 40rem) {
    .accordion-item .content {
        line-height: 1.75;
    }
}

