/* CSS Document for Screens */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #333333;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.1);
    overflow: auto;
}

#page{
    margin: 0 auto;
    position: relative;
}

/*Text*/
h1{
    margin: 0 0 1em 0;
    font-size: 3em;
    font-weight: 500;
    color: #333333;
    display: inline;
}

h2{
    margin: 0 0 0.5em 0;
    font-size: 1.6em;
    font-weight: 500;
    line-height: 1.1em;
    color: #333333;
}

h3{
    margin: 0 0 1em 0;
    font-size: 1.4em;
    font-weight: 600;
    color: #333333;
}

p{
    margin: 0 0 1em 0;
}

a{
    color: #007eff;
}

a:visited{
    color: #65b1ff;
}

a.btn {
    font-size: 1.2em;
    text-decoration: none;
    color: #333333;;
    border: 1px solid #333333;
    padding: 5px 15px;
    transition: background-color 0.5s;
}

a.btn:hover{
    background-color: rgba(0,0,0,0.3);
}

a.btn_products {
    font-size: 1.2em;
    text-decoration: none;
    color: #333333;
    border: 1px solid #333333;
    padding: 4px 15px;
    transition: background-color 0.5s;
}

a.btn_products:hover{
    background-color: rgba(0,0,0,0.3);
}

a.logo{
     z-index: 100;
     position: absolute;
     display: block;
     width: 160px;
     height: 66px;
     background: url(../images/logo_remeda_white.png) no-repeat 0 0;
     background-size: contain;
     top: 30px;
     left: 30px;
 }

a.logo_footer{
    z-index: 100;
    position: relative;
    display: block;
    width: 160px;
    height: 66px;
    background: url(../images/logo_remeda.png) no-repeat 0 0;
    background-size: contain;
    float: right;
    margin-top: -120px;
    margin-right: 80px;
}


/*Header*/

header{
    height: 500px;
    margin-top: 0px;
    position: relative;
    background-image: url(../images/remeda_header.jpg);
    background-repeat: no-repeat;
    width: 100%;

}

header div.hero {
    margin-left: 60%;
    padding-top: 140px;
    width: 40%;
    top: 100px;
    color: white;
}

header div.hero h1 {
    line-height: 1em;
    margin: 0 0 50px 0;
    color: #fff;
    font-size: 2.5em;
}

header div.hero p {
    line-height: 1em;
    margin: 0 0 30px 0;
    color: #fff;
    font-size: 1.3em;
    line-height: 1.4em;
}

/* Section - All */
section{
}

section::after {
    content:"";
    display: block;
    clear: both;
}

/* Section - Main */
section.main{
    padding: 100px 140px;
}

section.main aside{
    float: left;
}

section.main aside p{
    padding-bottom: 20px;
}

section.main .content{
    margin: 10%;
    background: no-repeat center top;
    background-size: 75px 75px;
    padding-top: 85px;
}

section.main aside .title{
    color: #333;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.7em;
}



section.main aside .content.produkte{
    background-image: url(../images/cube.svg);
    border: 0px solid #333;
}

section.main aside .content.remeda{
    background-image: url(../images/focus.svg);
    border: 0px solid #333;
}

section.main aside .content.remeda p{
    padding-top: 10px;
}

section.main aside .content.produkte p{
    padding-top: 10px;

}

/* Produkte */
section.produkte{
    background-color: rgb(107,205,161);
    padding: 100px 80px;
}

.intro{
    padding-left: 4vw;
    padding-bottom: 1vw;
}




/* Kontakt */
section.kontakt{
    height: 920px;
    padding: 100px 140px;
}

/* Footer */
footer{
    padding: 70px;
    color: #333;
    background-color: rgb(107,205,161);
    height: 230px;
    width: 100%;
    text-align: left;
}

footer table{
    position: center;
    margin-left: 70px;
}

footer .content{

}

footer table td {
    padding-right: 70px;
}




*,
*:before,
*:after {
    box-sizing: border-box;
}



.accordion {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0;
}

.accordion-item {
    position: relative;
}
.accordion-item.active .heading {
    font-size: 1.2em;
}
.accordion-item.active .icon {
    background: #fefefe;
}
.accordion-item.active .icon:before {

}
.accordion-item.active .icon:after {
    width: 0;
}
.accordion-item .heading {
    display: block;
    text-decoration: none;
    color: #333333;

    font-size: 1.2rem;
    position: relative;
    padding: 1.5rem 1.5rem 1.5rem 4rem;
    transition: 0.3s ease-in-out;
}
.accordion-item .text {
    color: #333333;
    font-size: 1rem;
    font-weight: 200;
}

.accordion-item .title{
    font-weight: 500;
    font-size: 1.5em;

}

title2{
    font-weight: 900;
    font-size: 1.3em;
    text-decoration: none;
}




.accordion-item .heading:hover {
    font-size: 1.2em;
}
.accordion-item .heading:hover .icon:before, .accordion-item .heading:hover .icon:after {

}
.accordion-item .icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 3rem;
    height: 3rem;
    border: 2px solid #fefefe;
    border-radius: 0px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


.accordion-item .icon:before, .accordion-item .icon:after {
    content: '';
    width: 1.25rem;
    height: 0.25rem;
    background: #333333;
    position: absolute;
    border-radius: 0px;
    left: 50%;
    top: 50%;
    transition: 0.3s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.accordion-item .icon:after {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
    z-index: -1;
}
.accordion-item .content {
    display: none;
}
.accordion-item .content p {
    margin-top: 0;
}
@media (min-width: 40rem) {
    .accordion-item .content {
        line-height: 1.75;
    }
}


.frame{
    width: 600px;
    height: 350px;
    margin: 210px auto 0;
    position: relative;
    background: whitesmoke;
    border-radius:0 0 40px 40px;
}
#button_open_envelope{
    width: 220px;
    height: 50px;
    position: absolute;
    z-index: 311;
    top: 260px;
    left: 200px;
    border-radius: 7px;
    color: #fff;
    font-size: 26px;
    padding:5px 2px 0px 7px;
    border: 2px solid #fff;
    transition:.3s;
}
#button_open_envelope:hover{
    background: #FFf;
    color: rgb(107,205,161);
    transform:scale(1.1);
    transition:background .25s, transform .5s,ease-in;
    cursor: pointer;
}

#button-send{
    width: 570px;
    height: 50px;
    position: absolute;
    z-index: 311;
    top: 250px;
    left: 0px;
    border-radius: 0px 0px 10px 10px;
    color: whitesmoke;
    font-size: 26px;
    padding:5px 2px 0px 7px;
    border: none;
    transition:.3s;
    background-color: rgb(107,205,161);
}

#button-send:hover{
    background: #a8a8a8;
    color: whitesmoke;
    cursor: pointer;
    font-size: 25px;
    transition: all .2s ease-in-out;
}
.message{
    position: relative;
    border-radius: 10px 10px 10px 10px;
    width: 570px;
    min-height:300px;
    height: auto;
    background: #fff;
    margin: 20px auto;
    top: 30px;
    box-shadow: 0 0 5px 2px #a8a8a8;
    transition:2s ease-in-out;
    transition-delay:1.5s;
    z-index: 300;
}
.left,.right,.top{width: 0;	height: 0;position:absolute;top:0;z-index: 310;}
.left{
    border-left: 300px solid #d7d7d7;
    border-top: 160px solid transparent;
    border-bottom: 160px solid transparent;
}
.right{
    border-right: 300px solid #d7d7d7;
    border-top: 160px solid transparent;
    border-bottom: 160px solid transparent;;
    left:300px;
}
.top{
    border-right: 300px solid transparent;
    border-top: 200px solid #f1f1f1;
    border-left: 300px solid transparent;
    transition:transform 1s,border 1s, ease-in-out;
    transform-origin:top;
    transform:rotateX(0deg);
    z-index: 500;
}
.bottom{
    width: 600px;
    height: 190px;
    position: absolute;
    background: #bdbdbd;
    top: 160px;
    border-radius:0 0 30px 30px;
    z-index: 310;
}

.open{
    transform-origin:top;
    transform:rotateX(180deg);
    transition:transform .7s,border .7s,z-index .7s ease-in-out;
    border-top: 200px solid #a8a8a8;
    z-index: 200;
}
.pull{
    -webkit-animation:message_animation 2s 1 ease-in-out;
    animation:message_animation 2s 1 ease-in-out;
    -webkit-animation-delay:.9s;
    animation-delay:.45s;
    transition:1.5s;
    transition-delay:1s;
    z-index: 350;
}
#name,#email,#phone,#messarea,#send{
    margin: 0;
    padding: 0 0 0 8px;
    width: 570px;
    height:40px;
    float: left;
    display: block;
    font-size: 16px;
    color: rgb(107,205,161);
    border:none;
    border-bottom:1px solid #bdbdbd;
    letter-spacing: normal;
    font-family: "Open Sans";
}

#name {
border-radius: 10px 10px 0 0;
}

#messarea{
    height: 117px;
    width: 560px;
    overflow: auto;
    border:none;
    padding: 10px;
}
#send{
    width:   580px;
    padding: 0;
    border:  none;
    cursor:  pointer;
    background: rgb(107,205,161);
    color: #fff;
    transition:.35s;
    letter-spacing: 1px;
}

::-moz-placeholder{color: rgb(107,205,161);font-size: 20px;opacity: 1;}
::-webkit-input-placeholder {color: rgb(107,205,161);font-size: 20px;}
*:focus {outline: none;}


@keyframes message_animation {
    0%{
        transform:translatey(0px);
        z-index: 300;
        transition: 1s ease-in-out;
    }
    50%{
        transform:translatey(-340px);
        z-index: 300;
        transition: 1s ease-in-out;
    }
    51%{
        transform:translatey(-340px);
        z-index: 350;
        transition: 1s ease-in-out;
    }
    100%{
        transform:translatey(0px);
        z-index: 350;
        transition: 1s ease-in-out;
    }
}
