/* CSS Document for Screens */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #333333;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.1);
    overflow: auto;
}

 .line1{
    background-color: #333;
    height: 0.2px;
    border: none;
    width: 85%;
    position: absolute;
}

.line2{
    background-color: #333;
    height: 0.2px;
    border: none;
    width: 100%;
    position: absolute;
}

#page{
    margin: 0 auto;
    position: relative;
}

/*Text*/
h1{
    margin: 0 0 1em 0;
    font-weight: 500;
    color: #333333;
    display: inline;
}

h2{
    margin: 0 0 0.5em 0;
    font-weight: 500;
    line-height: 1.1em;
    color: #333333;
}

p{
    margin: 0 0 1em 0;
}
/*
  Laptops, Desktops
*/
@media (min-width: 1025px) {
    h1{
        font-size: 2.0em;
    }

    h2{
        font-size: 1.0em;
        font-weight: 600;
    }
}

/*
  Tablets, Ipads
*/
@media (min-width: 650px) and (max-width: 1024px) {
    h1{
        font-size: 1.7em;
    }

    h2{
        font-size: 1.0em;
        font-weight: 600;
    }
}

/*
  Mobile
*/
@media (max-width: 649px) {
    h1{
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }

    h2{
        margin: 0 0 0.5em 0;
        font-size: 1.0em;
        font-weight: 600;
        line-height: 1.2em;
        color: #333333;
    }
}


h3{
    margin: 0 0 1em 0;
    font-size: 1.4em;
    font-weight: 600;
    color: #333333;
}



a{
    color: #007eff;
}


a.btn {
    font-size: 1.2em;
    text-decoration: none;
    color: #333333;;
    border: 1px solid #333;
    border-radius: 7px;
    padding: 5px 15px;
    transition: background-color 0.5s;

}

a.btn:hover{
    background: #fff;
    color: rgb(107,205,161);
    transition:background .25s, transform .5s,ease-in;
    cursor: pointer;
    border: 1px solid rgb(107,205,161);
}


/*Header*/
a.logo{
    z-index: 100;
    position: absolute;
    display: block;
    width: 160px;
    height: 66px;
    background: url(../images/logo_remeda_white.png) no-repeat 0 0;
    background-size: contain;
    top: 30px;
    left: 30px;
}

#header h1 {
    color: #fff;
    font-weight: 400;
    line-height: 1em;
}

#header p {
    color: #fff;
}

/*
  Laptops, Desktops
*/
@media (min-width: 1025px) {
    #header h1 {
        font-size: 2.2em;
    }

    #header p {
        font-size: 1.2em;
    }

    #header {
        margin-left: 60%;
        padding-top: 10em;
        width: 35%;
        color: white;
    }

    header{
        height: 27em;
        margin-top: 0px;
        position: relative;
        background-image: url(../images/remeda_header.jpg);
        background-repeat: no-repeat;
        width: 100%;
        background-color: rgb(107,205,161);
    }
}

/*
  Tablets, Ipads
*/
@media (min-width: 650px) and (max-width: 1024px) {
    #header h1 {
        font-size: 2.0em;
    }

    #header p {
        font-size: 1.2em;
        line-height: 1.2em;
    }

    #header {
        margin-left: 50%;
        padding-top: 10em;
        width: 45%;
        top: 100px;
        color: white;
    }

    header{
        height: 27em;
        margin-top: 0px;
        position: relative;
        background-image: url(../images/remeda_header-t.jpg);
        background-repeat: no-repeat;
        width: 100%;
        background-color: rgb(107,205,161);
    }
}

/*
  Mobile
*/
@media (max-width: 649px) {
    #header h1 {
        font-size: 1.7em;
    }

    #header p {
        font-size: 1.0em;
        line-height: 1.1em;
    }

    #header {
        margin-left: 8%;
        padding-top: 180px;
        width: 80%;
        top: 160px;
        color: white;
        text-align: center;
    }

    header{
        height: 500px;
        margin-top: 0px;
        position: relative;
        background-image: url(../images/remeda_header-s.jpg);
        background-repeat: no-repeat;
        width: 100%;
    }
}

/* Section - All */
section{
    padding: 0 70px;
}

section::after {
    content:"";
    display: block;
    clear: both;
}

/* Section - General */

.general div{
    text-align: center;
}



/*
  Laptops, Desktops
*/
@media (min-width: 1025px) {
    .general p{
        margin-top: -7px;
    }

    .general{
        display: flex;
        justify-content: space-around;
        padding: 3em 3.5em 5em 3.5em;
    }

    .title{
        color: #333;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.4em;
    }

    #svg-produkte{
        width: 4em;
        fill: #333;
        margin-bottom: 10px;
    }

    #svg-remeda{
        fill: #333;
        width: 4em;
        margin-bottom: 10px;
    }
}

/*
  Tablets, Ipads
*/
@media (min-width: 650px) and (max-width: 1024px) {
    .general p{
        margin-top: -10px;
    }

    .general{
        display: flex;
        padding: 2.5em 2em 3em 2em;
    }

    .title{
        color: #333;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.3em;
    }

    #svg-produkte{
        width: 3.8em;
        fill: #333;
        margin-bottom: 10px;
    }

    #svg-remeda{
        fill: #333;
        width: 4em;
        margin-bottom: 10px;
    }
}

/*
  Mobile
*/
@media (max-width: 649px) {
    .general p{
        margin-top: -15px;
    }

    .general{
        padding: 1.5em 1em 0em 1em;
    }

    .general-box-1{
        margin-bottom: 80px;
        margin-top: -70px;
    }

    .general-box-2{
        margin-bottom: 70px;
        margin-top: 20px;
    }

    .title{
        color: #333;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.3em;
    }

    #svg-produkte{
        width: 3.6em;
        fill: #333;
        margin-bottom: 10px;
    }

    #svg-remeda{
        fill: #333;
        width: 4em;
        margin-bottom: 10px;
    }
}

/* Produkte */
section.produkte{
    background-color: rgb(107,205,161);
}

.content p li{
    list-style-position: outside;
}

hr{
    color: #007eff;
}

/*
  Laptops, Desktops
*/
@media (min-width: 1025px) {
    .produkte{
        padding: 5.5em 10%
    }
}

/*
  Tablets, Ipads
*/
@media (min-width: 650px) and (max-width: 1024px) {
    .produkte{
        padding: 5em 10%;
    }
}

/*
  Mobile
*/
@media (max-width: 649px) {
    .produkte{
        padding: 3em 7%;
    }
}


/* Produkte - Accordion */
*,
*:before,
*:after {
    box-sizing: border-box;
}

.accordion {
    width: 100%;

    margin: 0 auto;
    padding: 0;
}

.accordion-item {
    position: relative;
}
.accordion-item.active .heading {
    font-size: 1.2em;
}
.accordion-item.active .icon {
    background: #fefefe;
}
.accordion-item.active .icon:before {

}
.accordion-item.active .icon:after {
    width: 0;
}

.accordion-item .text {
    color: #333333;
    font-size: 1rem;
    font-weight: 200;
}

.accordion-item .title{
    font-weight: 500;
}

/*
  Laptops, Desktops
*/
@media (min-width: 1025px) {
    .accordion-item .title{
        font-size: 1.2em;
    }

    .accordion-item .icon {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid #333;
        border-radius: 7px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .accordion-item .heading {
        display: block;
        text-decoration: none;
        color: #333333;

        font-size: 1.2rem;
        position: relative;
        padding: 1.5rem 1.5rem 1.5rem 4rem;
        transition: 0.3s ease-in-out;
    }
}

/*
  Tablets, Ipads
*/
@media (min-width: 650px) and (max-width: 1024px) {
    .accordion-item .title{
        font-size: 1.1em;
    }

    .accordion-item .icon {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 2.3rem;
        height: 2.3rem;
        border: 1px solid #333;
        border-radius: 7px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .accordion-item .heading {
        display: block;
        text-decoration: none;
        color: #333333;

        font-size: 1.2rem;
        position: relative;
        padding: 1.5rem 1.5rem 1.5rem 3.5rem;
        transition: 0.3s ease-in-out;
    }
}

/*
  Mobile
*/
@media (max-width: 649px) {
    .accordion-item .title{
        font-size: 1.0em;
    }

    .accordion-item .icon {
        display: block;
        position: absolute;
        top: 30%;
        left: 0;
        width: 2.0rem;
        height: 2.0rem;
        border: 1px solid #333;
        border-radius: 7px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .accordion-item .heading {
        display: block;
        text-decoration: none;
        color: #333333;

        font-size: 1.2rem;
        position: relative;
        padding: 1.5rem 0rem 1.5rem 3rem;
        transition: 0.3s ease-in-out;
    }
}

.accordion-item .heading:hover {
    font-size: 1.1em;
}
.accordion-item .heading:hover .icon:before, .accordion-item .heading:hover .icon:after {

}



.accordion-item .icon:before, .accordion-item .icon:after {
    content: '';
    width: 1.2rem;
    height: 0.1rem;
    background: #333;
    position: absolute;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transition: 0.3s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.accordion-item .icon:after {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
    z-index: -1;
}
.accordion-item .content {
    display: none;
}
.accordion-item .content p {
    margin-top: 0;
}


/* Kontakt */


@media (min-width: 650px) and (max-width: 1024px) {
    .kontakt{
        height: 870px;
        position: relative;
        padding: 80px 10%;
    }
}

    @media (min-width: 1025px) {
        .kontakt{
            height: 870px;
            position: relative;
            padding: 80px 10%;
        }
}
/*
  Tablets, Ipads, LapTops, Desktop
*/
@media (min-width: 650px) {
    .frame{
        width: 600px;
        height: 350px;
        margin: 200px auto 0;
        position: relative;
        background: whitesmoke;
        border-radius:0 0 40px 40px;
    }
    #button_open_envelope{
        width: 220px;
        height: 50px;
        position: absolute;
        z-index: 311;
        top: 260px;
        left: 200px;
        border-radius: 7px;
        color: #fff;
        font-size: 26px;
        padding:5px 2px 0px 7px;
        border: 2px solid #fff;
        transition:.3s;
    }
    #button_open_envelope:hover{
        background: #FFf;
        color: rgb(107,205,161);
        transform:scale(1.1);
        transition:background .25s, transform .5s,ease-in;
        cursor: pointer;
    }

    #button-send{
        width: 570px;
        height: 50px;
        position: absolute;
        z-index: 311;
        top: 250px;
        left: 0px;
        border-radius: 0px 0px 10px 10px;
        color: whitesmoke;
        font-size: 26px;
        padding:5px 2px 0px 7px;
        border: none;
        transition:.3s;
        background-color: rgb(107,205,161);
    }

    #button-send:hover{
        background: #a8a8a8;
        color: whitesmoke;
        cursor: pointer;
        font-size: 25px;
        transition: all .2s ease-in-out;
    }
    .message{
        position: relative;
        border-radius: 10px 10px 10px 10px;
        width: 570px;
        min-height:300px;
        height: auto;
        background: #fff;
        margin: 20px auto;
        top: 30px;
        box-shadow: 0 0 5px 2px #a8a8a8;
        transition:2s ease-in-out;
        transition-delay:1.5s;
        z-index: 300;
    }
    .left,.right,.top{width: 0;	height: 0;position:absolute;top:0;z-index: 310;}
    .left{
        border-left: 300px solid #d7d7d7;
        border-top: 160px solid transparent;
        border-bottom: 160px solid transparent;
    }
    .right{
        border-right: 300px solid #d7d7d7;
        border-top: 160px solid transparent;
        border-bottom: 160px solid transparent;;
        left:300px;
    }
    .top{
        border-right: 300px solid transparent;
        border-top: 200px solid #f1f1f1;
        border-left: 300px solid transparent;
        transition:transform 1s,border 1s, ease-in-out;
        transform-origin:top;
        transform:rotateX(0deg);
        z-index: 500;
    }
    .bottom{
        width: 600px;
        height: 190px;
        position: absolute;
        background: #bdbdbd;
        top: 160px;
        border-radius:0 0 30px 30px;
        z-index: 310;
    }

    .open{
        transform-origin:top;
        transform:rotateX(180deg);
        transition:transform .7s,border .7s,z-index .7s ease-in-out;
        border-top: 200px solid #a8a8a8;
        z-index: 200;
    }
    .pull{
        -webkit-animation:message_animation 2s 1 ease-in-out;
        animation:message_animation 2s 1 ease-in-out;
        -webkit-animation-delay:.9s;
        animation-delay:.45s;
        transition:1.5s;
        transition-delay:1s;
        z-index: 350;
    }
    #name,#email,#phone,#messarea,#send{
        margin: 0;
        padding: 0 0 0 8px;
        width: 570px;
        height:40px;
        float: left;
        display: block;
        font-size: 16px;
        color: rgb(107,205,161);
        border:none;
        border-bottom:1px solid #bdbdbd;
        letter-spacing: normal;
        font-family: "Open Sans";
    }

    #name {
        border-radius: 10px 10px 0 0;
    }

    #messarea{
        height: 117px;
        width: 560px;
        overflow: auto;
        border:none;
        padding: 10px;
    }
    #send{
        width:   580px;
        padding: 0;
        border:  none;
        cursor:  pointer;
        background: rgb(107,205,161);
        color: #fff;
        transition:.35s;
        letter-spacing: 1px;
    }

    ::-moz-placeholder{color: rgb(107,205,161);font-size: 20px;opacity: 1;}
    ::-webkit-input-placeholder {color: rgb(107,205,161);font-size: 20px;}
    *:focus {outline: none;}


    @keyframes message_animation {
        0%{
            transform:translatey(0px);
            z-index: 300;
            transition: 1s ease-in-out;
        }
        50%{
            transform:translatey(-340px);
            z-index: 300;
            transition: 1s ease-in-out;
        }
        51%{
            transform:translatey(-340px);
            z-index: 350;
            transition: 1s ease-in-out;
        }
        100%{
            transform:translatey(0px);
            z-index: 350;
            transition: 1s ease-in-out;
        }
    }
}

/*
  Mobile
*/
@media (max-width: 649px) {

    section.kontakt{
        padding: 4em 7%;
        height: 670px;
        position: relative;
    }

    #kontakt-text{
        position: relative;
        z-index: 300;
    }

    .frame{
        width: 315px;
        height: 250px;
        margin: 60px auto;
        position: relative;
        background: whitesmoke;
        border-radius:0 0 40px 40px;
    }
    #button_open_envelope{
        width: 170px;
        height: 40px;
        position: absolute;
        z-index: 311;
        top: 200px;
        left: 75px;
        border-radius: 7px;
        color: #333;
        font-size: 20px;
        padding:5px 2px 0px 7px;
        border: 1px solid #333;
    }
    #button_open_envelope:hover{
        background: #FFf;
        color: rgb(107,205,161);
        transform:scale(1.06);
        transition:background .25s, transform .5s,ease-in;
        cursor: pointer;
        border: 1px solid rgb(107,205,161);;
    }

    #button-send{
        width: 275px;
        height: 30px;
        position: absolute;
        z-index: 311;
        top: 200px;
        left: 0px;
        border-radius: 0px 0px 10px 10px;
        color: whitesmoke;
        font-size: 20px;
        padding:5px 2px 0px 7px;
        border: none;
        transition:.3s;
        background-color: rgb(107,205,161);
    }

    #button-send:hover{
        background: #a8a8a8;
        color: whitesmoke;
        cursor: pointer;
        font-size: 25px;
        transition: all .2s ease-in-out;
    }
    .message{
        position: absolute;
        border-radius: 10px 10px 10px 10px;
        width: 200px;
        height: auto;
        background: #fff;
        margin: 20px;
        top: 12px;
        box-shadow: 0 0 50px 4px #a8a8a8;
        transition:2s ease-in-out;
        transition-delay:1.5s;
        z-index: 300;
    }
    .left,.right,.top{width: 0;	height: 0;position:absolute;top:0;z-index: 310;}
    .left{
        border-left: 115px solid #d7d7d7;
        border-top: 120px solid transparent;
        border-bottom: 130px solid transparent;
    }
    .right{
        border-right: 115px solid #d7d7d7;
        border-top: 120px solid transparent;
        border-bottom: 130px solid transparent;;
        left:200px;
    }
    .top{
        border-right: 155px solid transparent;
        border-top: 170px solid #f1f1f1;
        border-left: 160px solid transparent;
        transition:transform 1s,border 1s, ease-in-out;
        transform-origin:top;
        transform:rotateX(00deg);
        z-index: 500;
    }
    .bottom{
        width: 315px;
        height: 160px;
        position: absolute;
        background: #bdbdbd;
        top: 120px;
        border-radius:0 0 30px 30px;
        z-index: 310;
    }

    .open{
        transform-origin:top;
        transform:rotateX(180deg);
        transition:transform .7s,border .7s,z-index .7s ease-in-out;
        border-top: 200px solid #bdbdbd;
        z-index: 200;
    }
    .pull{
        -webkit-animation:message_animation 2s 1 ease-in-out;
        animation:message_animation 2s 1 ease-in-out;
        -webkit-animation-delay:.9s;
        animation-delay:.45s;
        transition:1.5s;
        transition-delay:1s;
        z-index: 350;
    }
    #name,#email,#phone,#messarea,#send{
        margin: 0;
        padding: 0 0 0 8px;
        width: 275px;
        height:30px;
        float: left;
        display: block;
        font-size: 16px;
        color: rgb(107,205,161);
        border:none;
        border-bottom:1px solid #bdbdbd;
        letter-spacing: normal;
        font-family: "Open Sans";
    }

    #name {
        border-radius: 10px 10px 0 0;
    }

    #messarea{
        height: 117px;
        width: 275px;
        overflow: auto;
        border:none;
        padding-left: 10px;
    }
    #send{
        width: 580px;
        padding: 0;
        border:  none;
        cursor:  pointer;
        background: rgb(107,205,161);
        color: #fff;
        transition:.35s;
        letter-spacing: 1px;
    }

    ::-moz-placeholder{color: rgb(107,205,161);font-size: 20px;opacity: 1;}
    ::-webkit-input-placeholder {color: rgb(107,205,161);font-size: 20px;}
    *:focus {outline: none;}


    @keyframes message_animation {
        0%{
            transform:translatey(0px);
            z-index: 300;
            transition: 1s ease-in-out;
        }
        50%{
            transform:translatey(-240px);
            z-index: 300;
            transition: 1s ease-in-out;
        }
        51%{
            transform:translatey(-240px);
            z-index: 350;
            transition: 1s ease-in-out;
        }
        100%{
            transform:translatey(0px);
            z-index: 350;
            transition: 1s ease-in-out;
        }
    }
}

/* Footer */
a{
    color: whitesmoke;
    text-decoration: none;
}
footer{
    color: #333;
    background-color: rgb(107,205,161);
    width: 100%;
    text-align: left;
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
}

.footer-items div{
    margin: 400px;
}


/*
  Laptops, Desktops
*/
@media (min-width: 900px) {
    footer{
        padding: 4em 10%;
        color: #333;
        background-color: rgb(107,205,161);
        width: 100%;
        text-align: left;
        flex-direction: row;
    }

    a.logo_footer{
        z-index: 100;
        position: relative;
        display: block;
        width: 160px;
        height: 66px;
        background: url(../images/logo_remeda.png) no-repeat 0 0;
        background-size: contain;
        float: right;
        margin-top: -20px;
        margin-right: 80px;
    }
}


/*
  Mobile
*/
@media (max-width: 899px) {
    footer{
        padding-top: 50px;
        padding-left: 30px;
        padding-bottom: 10px;
        color: #333;
        background-color: rgb(107,205,161);
        width: 100%;
        text-align: left;
        flex-direction: column;
    }

    .footer-items{
        padding-bottom: 20px;
    }

    .footer-items li{
        font-size: 0.9em;
    }

    a.to-top-footer{
        z-index: 100;
        position: relative;
        background-size: contain;
        float: left;
        padding-bottom: 0px;
        text-align: center;
    }
    
}

.to-top{
    position: relative;
    margin-left: 100%;
}